body{
    position: relative;
}

.navbar-item-custom,.navbar-item-custom a {
    color: white;
}

.footer-custom {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 25px;
}

.game-item h5{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}
.games-image {
    width: 200px; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
}
.game-item {
    margin: 25px;
}
.game-item span {
    font-size: 14px;
}

.game-container {
    margin-bottom: 200px;
}