{% extends 'base.html.twig' %}

{% block title %}Hello EventsController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Events</h1>
        <div class="container-sm justify-content-center">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
